@media (max-width: 1024px) {
    .logo img {
        display: none;
    }

    .logo {
        width: 4rem;
    }

    .logo svg {
        display: block;
    }

    .sidebar {
        width: 9rem;
    }

    .sidebar-menu {
        align-items: center;
    }

    .sidebar-menu p {
        display: none;
    }

    .dashboard-main {
        width: 100%;
        padding-left: 0rem;
    }

    .post {
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .post {
        width: 23rem;
        height: 23rem;
    }

    .navbar {
        display: flex;
    }
    .upside-right-main-texts {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 740px) {

    .main-posts-div {
        width: 100vw;
    }
    .like-comment{
        display: none;
    }
    

    .posts-div {
        padding: 0% 0%;
        gap: .3rem;
    }
}
@media (max-width: 426px){
    .post {
        width: 15rem;
        height: 15rem;
    }
}
@media (max-width: 376px) {
    .upside-right-main-texts {
        display: none;
    }

    .upside-right {
        padding: 1rem;
        height: fit-content;
    }
    
    .bio-div{
        display: none;
    }
    .upside-left {
        height: fit-content;
        flex-direction: column;
    }

    .profile-pic {
        width: 10rem;
        height: 10rem;
    }

    .post {
        width: 12rem;
        height: 12rem;
    }

    .timeline-section-div {
        width: 80%;
    }
}