* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #000;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100%;
    color: white;
}

.navbar {
    display: none;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid #262626;
}

.navbar p {
    font-size: 2rem;
    font-weight: bold;
}

.main {
    display: flex;
    height: 100%;
}

.logo {
    width: 20rem;
}

.logo img {
    width: 100%;
    object-fit: contain;
}

.logo svg {
    display: none;
}

.sidebar {
    width: fit-content;
    border-right: 2px solid #262626;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}

.sidebar-upper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    font-size: 1.7rem;
    padding: .1rem .8rem;
    cursor: pointer;
}

.sidebar-menu:hover {
    background-color: #1A1A1A;
    border-radius: 1rem;
}

svg {
    width: 2.5rem;
}

.profile-pic {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dashBoard {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.dashboard-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
}

.dashboard-upside {
    display: flex;
    width: 100vw;
    border-bottom: 1px solid #262626;
}

.upside-left {
    width: 32rem;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upside-right {
    padding: 3.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.upside-right-main {
    width: 100%;
    padding: .6rem 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.upside-right-main p {
    font-size: 2.3rem;
}

.upside-right-main button {
    width: fit-content;
    height: fit-content;
    padding: .5rem 1.5rem;
    border: none;
    color: white;
    background-color: #363636;
    border-radius: .7rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.upside-right-main button:hover {
    background-color: #262626;
}

.upside-right-main svg {
    cursor: pointer;
}

.followers-div {
    width: 100%;
    padding: 0px 1rem;
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
}

.bio-div {
    font-size: 1.5rem;
    padding: .6rem 1rem;
    width: 100%;
}
.bio-div-small-screen{
    display: none;
}
.timeline-section {
    display: flex;
    justify-content: center;
}

.timeline-section-div {
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.timeline-section-div p {
    font-size: 1.5rem;
}

.timeline-section-div div {
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
    padding: 1.5rem 0px;
}

.timeline-section-div div:first-child {
    border-top: 1px solid white;
}

.main-posts-div {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.posts-div {
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    position: relative;
    cursor: pointer;
    font-size: 1.4rem;
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.2s ease;
}

.post:hover::before {
    background: rgba(0, 0, 0, 0.5);
}

.like-comment {
    position: absolute;
    display: flex;
    gap: 2rem;
    visibility: hidden;
}

.post:hover .like-comment {
    visibility: visible;
}

.post-svg {
    display: flex;
    font-weight: bold;
    gap: .5rem;
}