* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*::selection {
    user-select: none;
}

html{
    font-size: 62.5%;
}

body {
    background-color: #0080A5;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#loading-line {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 1rem;
    background-color: red;
    animation: loader 2s linear infinite;
    left: 0;
}

@keyframes loader {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        transform: scaleX(1);
        transform-origin: right;
    }
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

img {
    width: 25rem;
}

.login-card {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: fit-content;
    padding: 3rem 4rem;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login-card input {
    width: 30rem;
    height: 4rem;
    padding: .5rem .2rem;
    font-size: 1.9rem;
    border: 1px solid #000;
    background: transparent;
    outline: none;
}

.login-card button {
    border: none;
    background-color: rgb(47, 46, 46);
    color: white;
    width: fit-content;
    padding: 1rem 4rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.9rem;
}

h1 {
    color: #fff;
    font-size: 4rem;
}

.login-text {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 4rem;
}

a {
    color: #0080A5;
    text-decoration: none;
    font-size: 1.8rem;
}

p {
    font-size: 1.9rem;
}

.login-card div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

h5 {
    color: red;
    display: none;
}

@media (max-width : 426px) {
    h1{
        font-size: 2.9rem;
    }
    .login-card{
        width: 33rem;
    }
    .login-card input{
        width: 28rem;
    }
}
@media (max-width : 321px) {
    img{
        width: 20rem;
    }
    h1{
        font-size: 2.1rem;
    }
    .login-card{
        width: 30rem ;
    }
    .login-card input{
        width: 26rem;
    }
}